MONEY_TRACKER_HOST={{app.host}}
MONEY_TRACKER_SECRET_KEY_BASE={{app.secret_key_base}}
MONEY_TRACKER_DB_USER={{database.user_login}}
MONEY_TRACKER_DB_PASSWORD={{database.user_password}}
MONEY_TRACKER_DB_NAME={{database.db_name}}
MONEY_TRACKER_DB_HOST={{database.db_host}}
